.mainBlock {
  display: flex;
  flex-wrap: wrap;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 15rem;
  height: 19rem;

  background-color: lightgray;
}

.image {
  margin-bottom: 0.5rem;
}

.nameText {
  margin-bottom: 1rem;
}
