.enter {
  opacity: 0;
  /* transform: scale(0); */
}

.enterActive {
  /* transform: scale(1); */
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}

.exit {
  transform: scale(1);

  text-decoration: line-through;
}

.exitActive {
  transform: scale(0);
  transition: transform 3000ms ease-in-out;
}
