.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}

.exit {
  transform: scale(1);
}
.exit > figcaption {
  text-decoration: line-through;
}

.exitActive {
  transform: scale(0);
  transition: transform 3000ms ease-in-out;
}
